{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to API-Centric Web Application MealsApp</h2>
            <h4>Please <a href="{{ path_for('auth.signup') }}">Sign up</a> or <a href="{{ path_for('auth.signin') }}">Sign in</a>
            if you are already signed up, and go to <a href="{{ path_for('restaurants') }}">Restaurant page</a> to see all Restaurants.</h4>
        <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>API Documentation</h2>
            <p>You can use
                <a href="https://chrome.google.com/webstore/detail/resteasy/nojelkgnnpdmhpankkiikipkmhgafoch" target="_blank">RestEasy</a>
                addon for chrome to check MealsApp API</p>
        {% if auth.check %}

            <p><strong>Your Domain:</strong> <code>{{ base_url() }}</code></p>
            <p><strong>Your API Key:</strong> <code>{{ api_key }}</code></p>
        {% endif %}
        </div>
        <div class="col-md-6">
            <div class="panel panel-default meals-panel">
                <div class="panel-heading"><strong>Get All Restaurants</strong></div>
                <div class="panel-body">
                    Use <code>http://{domain}/api/restaurants?api_key={your_api_key}</code> to get json for all restaurants.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default meals-panel">
                <div class="panel-heading"><strong>Get Single Restaurant by ID</strong></div>
                <div class="panel-body">
                    Use <code>http://{domain}/api/restaurant/id/{id}?api_key={your_api_key}</code> to get json for single restaurant.
                    <br />
                    Example:<br />
                    <code>http://mealsapp.com/api/restaurant/id/4?api_key=d1cefa6aac3dafa65e8ae4466bc37588</code> to get json for single restaurant with ID 4.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default meals-panel">
                <div class="panel-heading"><strong>Add Restaurant</strong></div>
                <div class="panel-body">
                    Use <code>http://{domain}/api/restaurant/add?api_key={your_api_key}</code> and send JSON like:
                    <br />
                    Example:<br />
                    <code>
                        {
                        "name":"McDonald's",
                        "location":"Belgrade",
                        "menu":"Big Mac"
                        }
                    </code>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default meals-panel">
                <div class="panel-heading"><strong>Update Restaurant</strong></div>
                <div class="panel-body">
                    Use <code>http://{domain}/api/restaurant/update/{id}?api_key={your_api_key}</code> and send JSON like:
                    <br />
                    Link example:<br />
                    <code>http://mealsapp.com/api/restaurant/id/4?api_key=d1cefa6aac3dafa65e8ae4466bc37588</code>
                    <br />
                    JSON:
                    <br />
                    <code>
                        {
                            "name":"McDonald's",
                            "location":"Belgrade",
                            "menu":"Big Mac"
                        }
                    </code>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default meals-panel">
                <div class="panel-heading"><strong>Delete Restaurant</strong></div>
                <div class="panel-body">
                    Use <code>http://{domain}/api/restaurant/delete/{id}?api_key={your_api_key}</code>
                </div>
            </div>
        </div>
    </div>


{% endblock %}